* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    display: block;
    content: '';
    height: 100px;
}

.hover-color:hover {
    color: #03203C;
    cursor: pointer;
    border-bottom: 3px solid #383CC1;
}

.image {
    width: 50px;
    height: 50px;
}

.icon {
    padding-left: 50px !important;
}

.navbar {
    background-color: #03203C;
}

.alert-item {
    background-color: #efefef;
}

.btn {
    background-color: #383CC1 !important;
    border: none;
}

.sort-item {
    background-color: #383CC1 !important;
}

@media only screen and (max-width: 600px) {
    .sort {
        display: none;
    }

    .responsive-category {
        flex-direction: column;

    }

    .main-container {
        margin-top: 20px !important;
    }
}